body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    image-rendering: pixelated;
    width: 960px;
    height: 720px;
    border: 2px solid #555;
}
